<div id="presets">

  <div class="sidebar-column" id="sidebar-column-left">
    <div class="sidebar-column-content">
      <ul class="file-list-sidebar" *ngIf="this.d.dataSets">
        <li *ngFor="let set of this.d.dataSets; let i = index;" id="dataset-item-{{ set.id }}" (click)="this.selectDataSet(set.id, $event)"
            [ngClass]="{ active: set.open, selected: this.d.multipleSelect.active && i >= this.d.multipleSelect.min && i <= this.d.multipleSelect.max }">
          <div class="row name" >{{ set.name }}</div>
          <!-- <div class="close close-button" (click)="this.tensorflowService.deleteDataSet(set.id)"><div></div></div> -->
        </li>
      </ul>

      <!-- <ul class="file-list-sidebar last" *ngIf="this.d.mlOutputData">
        <li *ngFor="let mlset of this.d.mlOutputData; let i = index;" id="dataset-item-{{ mlset.id }}" (click)="this.selectDataSet(mlset.id, $event)"
            [ngClass]="{ active: mlset.open, selected: this.d.multipleSelect.active && i >= this.d.multipleSelect.min && i <= this.d.multipleSelect.max }">
          <div class="row name" >{{ mlset.name }}</div>
          <div class="close close-button" (click)="this.tensorflowService.deleteDataSet(mlset.id, true)"><div></div></div>
        </li>
      </ul> -->
    </div>
  </div>



  <div class="content">



    <div id="training-sample-distribution">
      <ul class="training-sample-distr-list">
        <li>
          <p>training</p>
          <h1>{{ (this.d.selectedModel.training.distribution[0] * 100) }}%</h1>
        </li>
        <li>
          <div id="distribution-slider"></div>
        </li>
        <li>
          <p>validation</p>
          <h1>{{ (this.d.selectedModel.training.distribution[1] * 100) }}%</h1>
        </li>
      </ul>
    </div>



    <div class="bottom-row">


      <div class="fixed-toolbar" id="fixed-toolbar">
        <div class="row" id="toolbar-content">

          <div>
            <ul class="buttons-list">
              <li id="save" (click)="this.tensorflowService.saveTrainingSettings()"><img src="./assets/icons/buttons/save.svg" title="Save training settings"></li>
              <!-- <li id="merge" (click)="this.tensorflowService.mergeDataSets()" disabled="!this.multipleSelect.active"><img src="./assets/icons/buttons/merge2.svg" title="Merge data sets"></li> -->
            </ul>
          </div>
        </div>
      </div>



      <!-- <div id="svg_graph_training"></div> -->
      <app-graph [id]="this.graphID" [size]="this.size"></app-graph>



      <div class="layer-content sidebar scrollDiv" *ngIf="this.d.selectedModel">

        <div class="form-group">
          <label class="label"><div class="question-mark" title="The number of training cycles">?</div>Epochs</label>
          <input type="number" class="number small blue" id="epochs" [(ngModel)]="this.d.selectedModel.training.epochs" name="epochs">
        </div>

        <div class="form-group">
          <label class="label"><div class="question-mark" title="">?</div>Learning rate</label>
          <input type="number" class="number small blue" id="learningRate" [(ngModel)]="this.d.selectedModel.training.learningRate" name="learningRate">
        </div>

        <div class="form-group">
          <label class="label">Loss function</label>
          <select class="form-control playWindow" id="losses" name="losses" [(ngModel)]="this.d.selectedModel.training.losses" [compareWith]="compareFunction">
            <option *ngFor="let item of this.d.lossOptions" [ngValue]="item">{{ item.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="label">Metrics</label>
          <select class="form-control playWindow" id="metrics" name="metrics" [(ngModel)]="this.d.selectedModel.training.metrics" [compareWith]="compareFunction">
            <option *ngFor="let item of this.d.metricsOptions" [ngValue]="item">{{ item.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="label">Optimizer</label>
          <select class="form-control playWindow" id="optimizer" name="optimizer" [(ngModel)]="this.d.selectedModel.training.optimizer" [compareWith]="compareFunction">
            <option *ngFor="let item of this.d.optimizerOptions" [ngValue]="item">{{ item.name }}</option>
          </select>
        </div>

        <div class="form-group" *ngIf="this.d.selectedModel.training.optimizer && this.d.selectedModel.training.optimizer.name === 'momentum'">
          <label class="label"><div class="question-mark" title="The momentum to use for the momentum gradient descent algorithm.">?</div>Momentum</label>
          <input type="number" class="number small blue" id="momentum" [(ngModel)]="this.d.selectedModel.training.momentum" name="momentum">
        </div>
        <!-- <div class="horizontalSeparator"></div> -->

        <button class="add" id="train" (click)="this.train()" title="delete layer">train</button>
        <button class="add inactive" id="validate" (click)="this.validate()" title="validate model using data samples">validate</button>
        <button class="add inactive" id="deploy" (click)="this.deploy()" title="test model with real time input data">deploy</button>

      </div>
    </div>
  </div>
</div>

