<div class="window-body"></div>
<div class="draggable-area"></div>
<div class="toolbar-header">
  <div class="toolbar-title">Anti-Cogging and Alignment Test
    <div class="close" (click)="closeWindow()"><div></div></div>
  </div>
</div>

<div class="window-content">
  <div id="svg_graph_cogging"></div>

  <div class="form-group microcontroller">
      <select class="form-control wide" id="microcontroller" name="microcontroller" [(ngModel)]="this.microcontroller" (change)="this.selectMicrocontroller">
          <option class="placeholder" [ngValue]="undefined" selected="selected">-- select microcontroller --</option>
          <option *ngFor="let item of this.hardwareService.microcontrollers" [ngValue]="item">{{ item.name }}</option>
      </select>

      <span *ngIf="this.microcontroller && this.microcontroller.motors.length > 1">
        <select class="form-control small" id="motors" name="motors" [(ngModel)]="this.motor_id">
          <option *ngFor="let item of this.microcontroller.motors" [ngValue]="item.id">{{ item.id }}</option>
        </select>
      </span>

      <button class="inline height30" (click)="startTest()">Test</button>
  </div>


  <div class="form-group">
    <p class="full-width">Result: </p>
    <p id="direction" class="full-width"></p>
    <p id="mean-error" class="full-width"></p>
    <p id="standard-deviation" class="full-width"></p>
    <p id="plot" class="full-width"></p>
  </div>

</div>