<div class="row flex-row">

  <!-- option column -->

  <div class="column-40 fixed-height" id="NN_options" *ngIf="this.d.selectedModel">

    <div class="form-group">
      <label class="label">Name</label>
      <input type="text" class="number blue" id="modelName" [(ngModel)]="this.d.selectedModel.name" name="modelName">
    </div>

    <div class="form-group">
      <label class="label">Model type</label>
      <select class="form-control playWindow" id="model_type" name="model_type" [(ngModel)]="this.d.selectedModel.type" (change)="this.updateModelType()">
        <option *ngFor="let item of this.modelTypeOptions" [ngValue]="item">{{ ModelTypeMapping[item] }}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="this.d.selectedModel.options.activation">
      <label class="label">Activation</label>
      <select class="form-control playWindow" id="activation" name="activation" [(ngModel)]="this.d.selectedModel.options.activation">
        <option *ngFor="let item of this.activationOptions" [ngValue]="item">{{ ActivationLabelMapping[item] }}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="this.d.selectedModel.options.activationOutputLayer">
      <label class="label">Activation output</label>
      <select class="form-control playWindow" id="activation_output" name="activation_output" [(ngModel)]="this.d.selectedModel.options.activationOutputLayer">
        <option *ngFor="let item of this.activationOptions" [ngValue]="item">{{ ActivationLabelMapping[item] }}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="this.d.selectedModel.options.losses">
      <label class="label">Loss function</label>
      <select class="form-control playWindow" id="losses" name="losses" [(ngModel)]="this.d.selectedModel.options.losses" [compareWith]="compareFunction">
        <option *ngFor="let item of this.d.lossOptions" [ngValue]="item">{{ item.name }}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="this.d.selectedModel.options.metrics">
      <label class="label">Metrics</label>
      <select class="form-control playWindow" id="metrics" name="metrics" [(ngModel)]="this.d.selectedModel.options.metrics" [compareWith]="compareFunction">
        <option *ngFor="let item of this.d.metricsOptions" [ngValue]="item">{{ item.name }}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="this.d.selectedModel.options.optimizer">
      <label class="label">Optimizer</label>
      <select class="form-control playWindow" id="optimizer" name="optimizer" [(ngModel)]="this.d.selectedModel.options.optimizer" [compareWith]="compareFunction">
        <option *ngFor="let item of this.d.optimizerOptions" [ngValue]="item">{{ item.name }}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="this.d.selectedModel.options.optimizer">
      <label class="label">Regularizer</label>
      <select class="form-control playWindow" id="regularizer" name="regularizer" [(ngModel)]="this.d.selectedModel.options.kernelRegularizer" [compareWith]="compareFunction">
        <option *ngFor="let item of this.d.regularizerOptions" [ngValue]="item">{{ item.name }}</option>
      </select>
    </div>
  </div>



  <div class="column-30 fixed-height">

    <div class="form-group" *ngIf="this.d.selectedModel.options.hiddenLayers !== undefined">
      <label class="label"><div class="question-mark" title="Number of hidden layers">?</div>Hidden layers</label>
      <input type="number" class="number small blue" id="hiddenLayers" [(ngModel)]="this.d.selectedModel.options.hiddenLayers" name="hiddenLayers">
    </div>

    <div class="form-group" *ngIf="this.d.selectedModel.options.units !== undefined">
      <label class="label"><div class="question-mark" title="Number of units in layer">?</div>Units</label>
      <input type="number" class="number small blue" id="layerUnits" [(ngModel)]="this.d.selectedModel.options.hiddenLayers" name="layerUnits">
    </div>


    <div class="form-group" *ngIf="this.d.selectedModel.options.dropout !== undefined">
      <label class="label"><div class="question-mark" title="Rate of neurons dropped to prevent overfitting">?</div>Dropout</label>
      <input type="number" class="number small blue" id="dropout" [(ngModel)]="this.d.selectedModel.options.dropout" name="hiddenLayers">
    </div>

    <div class="form-group" *ngIf="this.d.selectedModel.options.degree !== undefined">
      <label class="label"><div class="question-mark" title="Number of degrees polynomial equation, a high number may resulting in overfitting">?</div>Equation degree</label>
      <input type="number" class="number small blue" id="degree" [(ngModel)]="this.d.selectedModel.options.degree" name="degree">
    </div>

    <div class="form-group" *ngIf="this.d.selectedModel.options.learningRate !== undefined">
      <label class="label"><div class="question-mark" title="The learning rate to use for the optimizer algorithm, higher rate results in overshooting values">?</div>Learning rate</label>
      <input type="number" class="number small blue" id="learningRate" [(ngModel)]="this.d.selectedModel.options.learningRate" name="learningRate">
    </div>

    <div class="form-group" *ngIf="this.d.selectedModel.options.optimizer && this.d.selectedModel.options.optimizer.name === 'momentum'">
      <label class="label"><div class="question-mark" title="The momentum to use for the momentum gradient descent algorithm.">?</div>Momentum</label>
      <input type="number" class="number small blue" id="momentum" [(ngModel)]="this.d.selectedModel.options.momentum" name="momentum">
    </div>

    <div class="form-group" *ngIf="this.d.selectedModel.options.trainingOptions !== undefined">
      <label class="label"><div class="question-mark" title="Number of samples per gradient update">?</div>Batch size</label>
      <input type="number" class="number small blue" id="batchsize" [(ngModel)]="this.d.selectedModel.options.trainingOptions.batchSize" name="batchsize">
    </div>

    <div class="form-group" *ngIf="this.d.selectedModel.options.trainingOptions !== undefined">
      <label class="label"><div class="question-mark" title="Number of times to iterate over the training data arrays">?</div>Epochs</label>
      <input type="number" class="number small blue" id="epochs" [(ngModel)]="this.d.selectedModel.options.trainingOptions.epochs" name="epochs">
    </div>

    <div class="row" *ngIf="this.d.selectedModel.options.batchNormalization !== undefined">
      <label class="radio-container">Batch normalization <div class="question-mark" title="normalize values every layer">?</div>
        <input type="checkbox" class="type" id="batchNormalization" name="batchNormalization" [(ngModel)]="this.d.selectedModel.options.batchNormalization" [checked]="this.d.selectedModel.options.batchNormalization">
        <span class="checkmark radio tensorflow"></span>
      </label>
    </div>

    <div class="row" *ngIf="this.d.selectedModel.type > 1">
      <label class="radio-container">Return sequences <div class="question-mark" title="Return the full sequence to the next layer">?</div>
        <input type="checkbox" class="type" id="returnSequences" name="returnSequences" [(ngModel)]="this.d.selectedModel.options.returnSequences" [checked]="this.d.selectedModel.options.returnSequences">
        <span class="checkmark radio tensorflow"></span>
      </label>
    </div>

    <div class="row" *ngIf="this.d.selectedModel.multiple !== undefined">
      <label class="radio-container">Classify batch <div class="question-mark" title="classify multiple inputs simultaneously">?</div>
        <input type="checkbox" class="type" id="multiple" name="batch" [(ngModel)]="this.d.selectedModel.multiple" [checked]="this.d.selectedModel.multiple">
        <span class="checkmark radio tensorflow"></span>
      </label>
    </div>


  </div>


  <!-- output column  -->

  <div id="inputs" class="column-20 fixed-height">
    <label class="labelRow">Inputs
      <div class="buttonPlayWindow dataSetList" (click)="this.addInputItem()" title="add input item">+</div>
      <div id="resetInput" class="buttonPlayWindow dataSetList" (click)="this.resetInputList()" title="reset input variables"><img src="./assets/icons/buttons/refresh.svg" /></div></label>
    <ul>
      <li *ngFor="let input of this.d.selectedModel.inputs; let i = index" [attr.data-index]="i">
        <label class="radio-container">
          <span *ngIf="i < 5" id="label-{{ input.slug }}">{{ input.name }}</span>
          <input type="checkbox" class="type" id="{{ input.id }}" name="{{ input.id }}" [(ngModel)]="input.active" [checked]="input.active">
          <span class="checkmark radio tensorflow"></span>
        </label>
        <div class="row flexbox-row-even input" *ngIf="i >= 5" id="label-{{ input.slug }}">
          <input type="text" class="list-item inputList" id="input-{{ i }}" value="{{ input.name }}" name="input-{{ i }}" (change)="this.updateInput(i)">
          <div class="buttonPlayWindow dataSetList delete" (click)="this.deleteInputItem(i)" title="delete input item">-</div>
        </div>
      </li>
    </ul>
  </div>
  <div id="inputs" class="column-20 fixed-height">
    <label class="labelRow">Output <div class="buttonPlayWindow dataSetList" (click)="this.addClassifier()" title="add output item">+</div></label>

    <ul>
      <li *ngFor="let output of this.d.selectedModel.outputs; let i = index" [attr.data-index]="i">
        <label class="radio-container">
          <input type="checkbox" class="type" id="{{ output.name }}" name="{{ output.name }}" [(ngModel)]="output.active" [checked]="output.active" (change)="this.selectClassifier(output.id)">
          <span class="checkmark radio tensorflow"></span>
        </label>
        <div class="row flexbox-row-even input" id="label-{{ output.id }}">
          <input type="text" class="list-item inputList" id="classifier-1-{{ i }}" value="{{ output.name }}" name="classifier-1-{{ i }}" (change)="this.updateClassifier(i, 1)">
          <div class="buttonPlayWindow dataSetList delete" (click)="this.deleteClassifier(i)" title="delete input item">-</div>
        </div>
      </li>
    </ul>
  </div>

</div>


<div class="buttons">
  <button id="deploy" (click)="this.classifyAtRunTime()" disabled>Deploy</button>
  <button id="initialize" (click)="this.initializeNN_Model()" *ngIf="!this.d.processing">Train</button>
  <button id="initialize" (click)="this.stopTraining()" *ngIf="this.d.processing">Cancel</button>
</div>
